.about {
  padding: 101px 0 120px 0;
  text-align: center;
  @media (max-width: 780px) {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 780px) {
      flex-direction: column;
    }
  }
  &__item {
    width: 240px;
    @media (max-width: 780px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &__header {
    font-size: 22px;
    margin: 0;
    margin-bottom: 16px;
  }
  &__description {
    margin: 0;
    font-size: 14px;
    font-family: $ff-about;
    color: #5c5c5c;
    letter-spacing: 1px;
  }
}