.form {
  padding: 99px 0 111px;
  background-color: #1287bf;
  @media (max-width: 780px) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &-icon {
    position: relative;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      border: #1287bf;
      background-color: #fff;
     &:after {
       border-color: #1287bf;
     } 
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 15px;
      height: 15px;
      border: 3px solid #fff;
      border-top: none;
      border-left: none;
    }
  }
  &__content {
    position: relative;
    display: none;
    max-width: 683px;
    margin: 50px auto;
    padding: 45px 60px;
    text-align: center;
    background-color: #fff;
    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #fff;
      left: 50%;
      top: 0;
      margin-top: -20px;
      transform: translateX(-50%) rotate(45deg);
    }
    @media (max-width: 780px) {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 90%;
    }
    &--title {
      text-align: center;
      color: #828282;
      font-size: 15px;
      line-height: 1.5;
    }
  }
  &__main {
    margin-top: 35px;
    input {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 15px 20px;
      width: 70%;
      border: none;
      border: 1px solid #e2e2e2;
      border-radius: 7px;
    }
    .submit {
      display: block;
      margin: 0 auto;
      margin-top: 24px;
      padding: 12px 20px;
      border: none;
      border: 1px solid #fff;
      width: 30%;
      font-size: 16px;
      cursor: pointer;
      @media (max-width: 780px) {
        font-size: 14px;
        width: 50%;
      }
      @media (max-width: 576px) {
        width: 50%;
        font-size: 12px;
      }
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    margin-top: -22.5px;
    margin-right: -22.5px;
    background-color: #de2b24;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    .close {
      font-size: 28px;
      text-align: center;
      line-height: 38px;
      color: #fff;
    }
  }
}