header {
  .header__top {
    background-color: $bgc-header-top;
    border-bottom: 1px solid #e2e2e2;
    @media (max-width: 1024px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.contacts {
  text-align: right;
  @media (max-width: 576px) {
    text-align: center;
  }
}
.contact {
  display: inline-block;
  padding: 14px 21px;
  vert-align: top;
  color: #59595a;
  transition: all 0.3s;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
  &:nth-child(2) {
    font-size: 1.2rem;
    padding-right: 13px;
  }
  &:hover {
    color: lighten(#59595a, 10%);
  }
  &__icons {
    font-size: 1.5rem;
    margin-right: 0.8rem;
    vertical-align: middle;
    &:last-child {
      display: inline-block;
      margin: 8px 0;
      font-size: 1.8rem;
      background-color: #fff;
      border-radius: 3px;
      color: #1287bf;
    }
  }
  &:first-child {
    border-right: 1px solid #e2e2e2;
  }
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 39px;
  padding-top: 43px;
  @media (max-width: 1024px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 780px) {
    flex-direction: column;
    justify-content: center;
  }
}