.contacts
  a.contact(href="tel:+79001036891")
    i(class="fas fa-mobile-alt contact__icons")
    span.contact__text 6337 3128
  a.contact(href="info@business.co")
    i(class="fas fa-envelope contact__icons")
    span.contact__text info@business.co
  a.facebook-icon(href="#")
    i(class="fab fa-facebook contact__icons")