section.form
  .container
    h2.title.title__header.white Get Your Free Facebook Analysis Now
    .title__text.white Enter your details below
    .icon.form-icon
    .form__content
      .form__content--title Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
      form.form__main(action="form.php" method="POST")
        input(type="text" placeholder="Your Name" id="name")
        input(type="text" placeholder="Your Name" id="contact")
        input(type="text" placeholder="Your Name" id="company_name")
        button.button.button-text--uppercase.button-red.submit(type="submit") Submit Now
      .form__close: a.close x


