section.work
  .container
    h2.title.title__header.white Our Our Work
      .title__text We are added our featured works below
      .line__bottom

    ul.work__list
      li.work__item
        .work__text
          .work__name Project Name
          .work__discription  Landing page
      li.work__item
        .work__image: img.work-picture(src="images/camera-2.jpg")

      li.work__item
        .work__text
          .work__name Project Name
          .work__discription  Landing page
      li.work__item
        .work__image: img.work-picture(src="images/murav.png")

      li.work__item
        .work__image: img.work-picture(src="images/rive.png")
      li.work__item
        .work__text
          .work__name Project Name
          .work__discription  Landing page

      li.work__item
        .work__image: img.work-picture(src="images/forest.png")
      li.work__item
        .work__text
          .work__name Project Name
          .work__discription  Landing page
