.button {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 22px 7px;
  text-decoration: none;
  color: #fff;
  transition: all 1s;
  &-red {
    background-color: #de2b24;
    &:hover {
      background-color: lighten(#de2b24, 12%);
    }
  }
  &-yellow {
    background-color: #f8cd53;
    &:hover {
      background-color: darken(#f8cd53, 7%);
    }
  }
  &-text--uppercase{
    text-transform: uppercase;
    font-family: $ff-main-bold;
    padding: 20px 40px;
    letter-spacing: 1px;
    border-radius: 8px;
    font-size: 21px;
  }
}