/*Georgia*/
@font-face {
  font-family: 'Georgia-Bold';
  src: url('../../fonts/georgia/Georgia-Bold.eot');
  src: url('../../fonts/georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/georgia/Georgia-Bold.woff') format('woff'),
  url('../../fonts/georgia/Georgia-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Helvetica-Bold*/
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../../fonts/helvetica/HelveticaNeueCyr-Bold.eot');
  src: url('../../fonts/helvetica/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/helvetica/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../../fonts/helvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Helvetica-Light*/
@font-face {
  font-family: 'Helvetica-Light';
  src: url('../../fonts/helvetica/HelveticaNeueCyr-Light.eot');
  src: url('../../fonts/helvetica/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/helvetica/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../../fonts/helvetica/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Normal';
  src: url('../../fonts/helvetica/HelveticaNeueCyr-Medium.eot');
  src: url('../../fonts/helvetica/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/helvetica/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../../fonts/helvetica/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');